body {
    background-color: #F4E1C9;
}

h1 {
    text-align: center; 
    color:  #8B5E3C;
    font-size: 3em;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;  
}

#kumpirimg {
    display: block;
    margin: 0 auto;
    width: 25%;
}
 
.topping{
    visibility: hidden;
    position: absolute;
    margin-left: 33.5em;
    margin-top: 1.3em;
    width: 15%;
}

.topping[src*="mais"] {
    width: 10%; 
    margin-top: 1em;
    margin-left: 36em;
    margin-bottom: 3em;   
    }


    
.topping[src*="mais"].visible {
    visibility: visible;
}


.topping[src*="olijven"].visible {
    visibility: visible;
}


.topping[src*="wortel"].visible {
    visibility: visible;
}


/* .topping[src*="wortel"] {
    width: 15%; 
    margin-top: 1em;
    margin-left: 34.2em;
} */

.button{
    display: flex;
    justify-content: center; 
    gap: 1em; 
    margin-top: 3em; 

}

button {
    width: 7em; 
    height: 3em;  
    font-size: 1.2em; 
    
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
    
    padding: 0.5em;  
    border-radius: 1em;  
    background-color: #8B5E3C;
    color: #FAF3E0;  
    border: none;  
}

#klaar{
    background-color: #d78b4d;
}